$font: 14px "ArialMT", sans-serif;

* {
  background-color: #e3e8ee;
}

.body {
  font: $font;
  margin: 100px 280px 0px 280px;
  display: grid;
  box-sizing: border-box;

  grid-template: repeat(4, 1fr)/1fr;

  .header {
    align-self: end;
  }

  .list {
    ul {
      padding-left: 2rem;
      list-style-image: url("../assets/Capture.PNG");
    }
  }

  .list:nth-child(2) {
    ul {
      li:first-child {
        text-decoration: line-through;
      }

      li:nth-child(2) {
        font-weight: bold;
      }

      li:nth-child(3) {
        font-style: italic;
      }

      li:last-child {
        text-transform: uppercase;
      }
    }
  }

  .list:nth-child(3) {
    ul {
      li:nth-child(2):hover {
        & {
          list-style-image: url("../assets/CaptureRed.PNG");
        }
        color: red;
      }
    }
  }

  .buttons {
    display: grid;
    grid-template: 1fr/repeat(3,3fr);
    justify-content: space-between;

    button {
      background-color: #72a3a5;
      color: whitesmoke;
      box-shadow: 0 0 10px rgba(#72a3a5,1);
      margin: 1rem;
      width: 10rem;
      height: 2rem;
      border: 0px;
      outline: none;
      border-radius: 1.2rem;
      align-self: center;
      &:hover {
        background-color: #354f51;
        box-shadow: 0 0 10px rgba(#354f51,1);
      }
      &:active {
        background-color: #787778;
        box-shadow: 0 0 10px rgba(#787778,1);
      }
    }
  }

  .inputs {
    display: grid;
    grid-template: 1fr/repeat(2,1fr);
    input {
      justify-self: start;
      min-height: 2rem;

      &:focus {
        box-shadow: 0 0 10px rgba(#72a3a5, 1);
      }
    }
  }
}

